@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,300;0,400;0,700;1,100;1,700&display=swap');

.page {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
}
header {
  background: #001e39;
  color: white;
  padding: 20px 35px;
}
.page header .title {
  font-size: 300%;
  font-weight: bold;
  display: block;
}
header h1 {
  margin: 0;
}
.items, header .inner {
  max-width: 1000px;
  margin: 0 auto;
}
.items {
  padding: 15px;
}
.feed-item {
  padding: 8px 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.feed-item .title {
  font-weight: 700;
  font-size: 1.4em;
}
.feed-item .title a {
  color: black;
  text-decoration: none;
}
.feed-item .metadata > div {
  display: inline-block;
  font-size: 80%;
  margin-right: 10px;
}
.feed-item .metadata .feed {
  font-weight: 600;
}
.feed-item .metadata .date {
  font-weight: 200;
}
.feed-item .metadata a {
  font-size: 80%;
  color: inherit;
}

/**
* Colour schemes
*/
.page.darkgrey {
  background: #242424;
  color: #868686;
}
.page.darkgrey header {
  background: #3e3e3e;
  color: #bdbdbd;
}
.page.darkgrey .feed-item .title a {
  color: #ca8cbf;
}
/*
 * ------------------------------------ 
 */
.page.darkeighties {
  background: #272d33;
  color: #afbdca;
}
.page.darkeighties header {
  background: #363636;
  color: #d1d7e3;
  padding: 10px;
  border-bottom: 1px solid #4e5459;
}
.page.darkeighties header .title {
  display: initial;
  font-size: 1.6em;
  font-weight: bold;
}
.page.darkeighties header .date {
  font-size: 0.8em;
  margin-left: 10px;
  color: #6da1d5;
}
.page.darkeighties .metadata .feed {
  color: #ca8cbf;
}
.page.darkeighties .metadata a {
  color: #4bac8c;
}
.page.darkeighties .feed-item .title a {
  color: #afbdca;
}