.page {
  font-family: 'Noto Serif', monospace;
  font-weight: 400;
  font-style: normal;
}
header {
  background: #001e39;
  color: white;
  padding: 20px 35px;
}
.page header .title {
  font-size: 300%;
  display: block;
}
header h1 {
  margin: 0;
}
.items, header .inner {
  max-width: 1000px;
  margin: 0 auto;
}
.items {
  padding: 15px;
}
.feed-item {
  padding: 8px 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.feed-item .title {
  font-size: 125%;
  font-weight: 700;
}
.feed-item .title a {
  color: black;
  text-decoration: none;
}
.feed-item .metadata > div {
  display: inline-block;
  font-size: 80%;
  margin-right: 10px;
}
.feed-item .metadata .feed {
  font-weight: 700;
}
.feed-item .metadata .date {
  font-weight: 400;
}
.feed-item .metadata a {
  font-size: 80%;
  color: inherit;
}

/**
* Loading spinner
*/
.loading-spinner {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 7px;
  margin-left: 20px;
}
.loading-spinner div {
  position: absolute;
  top: 0px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading-spinner div:nth-child(1) {
  animation: loading-spinner1 0.6s infinite;
}
.loading-spinner div:nth-child(2) {
  animation: loading-spinner2 0.6s infinite;
}
.loading-spinner div:nth-child(3) {
  left: 10px;
  animation: loading-spinner2 0.6s infinite;
}
.loading-spinner div:nth-child(4) {
  left: 20px;
  animation: loading-spinner3 0.6s infinite;
}
@keyframes loading-spinner1 {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}
@keyframes loading-spinner3 {
  0% { transform: scale(1); }
  100% { transform: scale(0); }
}
@keyframes loading-spinner2 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(10px, 0); }
}


/**
* Colour schemes
*/
.page.darkgrey {
  background: #242424;
  color: #868686;
}
.page.darkgrey header {
  background: #3e3e3e;
  color: #bdbdbd;
}
.page.darkgrey .feed-item .title a {
  color: #ca8cbf;
}
/*
 * ------------------------------------ 
 */
.page.darkeighties {
  background: #272d33;
  color: #afbdca;
}
.page.darkeighties header {
  background: #363636;
  color: #d1d7e3;
  padding: 10px;
  border-bottom: 1px solid #4e5459;
}
.page.darkeighties header .title {
  display: initial;
  font-size: 135%;
}
.page.darkeighties header .date {
  font-size: 80%;
  margin-left: 10px;
  color: #6da1d5;
}
.page.darkeighties header .loading-spinner div {
  background: #ca8cbf;
}
.page.darkeighties .metadata .feed {
  color: #ca8cbf;
}
.page.darkeighties .metadata a {
  color: #4bac8c;
}
.page.darkeighties .feed-item .title a {
  font-weight: 400;
  color: #afbdca;
}

.display-none {
  display: none;
}