@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css';

.page {
  --background-colour: white;
  --text-colour: black;
  --header-background-colour: #001e39;
  --header-text-colour: white;
  --feed-text-colour: var(--header-background-colour);
  --date-text-colour: var(--text-colour);
  --link-text-colour: var(--header-background-colour);
  --border-colour: rgba(0,0,0,0.2);
}
.page.darkeighties {
  --background-colour: #272d33;
  --text-colour: #afbdca;
  --header-background-colour: #333d46;
  --header-text-colour: #d1d7e3;
  --feed-text-colour: #ca8cbf;
  --link-text-colour: #4bac8c;
  --border-colour: rgba(255,255,255,0.15);
}
.page.darkgrey {
  --background-colour: #242424;
  --text-colour: #868686;
  --header-background-colour: #3e3e3e;
  --header-text-colour: #bdbdbd;
  --feed-text-colour: #cacaca;
  --link-text-colour: var(--feed-text-colour);
}

.page {
  min-height: 100vh;
  font-family: 'Noto Serif', monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  background: var(--background-colour);
  color: var(--text-colour);
}
.page header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background: var(--header-background-colour);
  color: var(--header-text-colour);
  border-bottom: 1px solid var(--border-colour);
}

.page header .title {
  font-size: 3rem;
  display: block;
}
.page header .date {
  display: block;
  margin-left: 3px;
  font-size: 0.7rem;
}
header h1 {
  margin: 0;
}
header .inner,
.items { 
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}
.items { 
  padding-top: 8rem;
}
.feed-item {
  padding: 0.65rem 0;
  border-bottom: 1px solid var(--border-colour);
  font-weight: 400;
}
.feed-item:last-child {
  border: none;
}
.feed-item .title {
  font-size: 1.25rem;
}
.feed-item .title a {
  color: var(--text-colour);
  text-decoration: none;
}
.feed-item .metadata > * {
  display: inline-block;
  margin-right: 1rem;
  font-size: 0.7rem;
}
.feed-item .metadata .icon {
  margin-right: .5rem;
  position: relative;
  color: var(--text-colour);
  font-size: 1rem;
  top: .1rem;
  opacity: 0.4;
}
.feed-item .metadata .feed {
  display: inline-block;
  position: relative;
  top: 4px;
  max-width: 125px;
  color: var(--feed-text-colour);
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.feed-item .metadata .date {
  color: var(--date-text-colour);
  font-weight: 400;
}
.feed-item .metadata a {
  color: var(--link-text-colour);
}

@media only screen and (max-device-width: 480px) {
  .page header .title { font-size: 1.75rem; }
  .items { padding-top: 5.5rem; }
  .feed-item { padding: 1rem 0; }
  .feed-item .title { font-size: 1rem; }
}

/**
* Loading spinner
*/
#loading {
  position: relative;
  width: 20px;
  height: 7px;
  margin: 4.5px 3px;
}
#loading div {
  position: absolute;
  top: 0px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--feed-text-colour);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
#loading div:nth-child(1) {
  animation: loading1 0.6s infinite;
}
#loading div:nth-child(2) {
  animation: loading2 0.6s infinite;
}
#loading div:nth-child(3) {
  left: 10px;
  animation: loading2 0.6s infinite;
}
#loading div:nth-child(4) {
  left: 20px;
  animation: loading3 0.6s infinite;
}
@keyframes loading1 {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}
@keyframes loading3 {
  0% { transform: scale(1); }
  100% { transform: scale(0); }
}
@keyframes loading2 {
  0% { transform: translate(0, 0); }
  100% { transform: translate(10px, 0); }
}

.display-none {
  display: none !important;
}