/* reset */
body {
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e8f1f5;
}
/**
* Includes
**/
#app > .inner {
  height: 100vh;
  overflow-y: scroll;
}
#app > .inner > .title {
  font-size: 40px;
  font-weight: bold;
  padding: 30px 35px;
}
#app > .inner > .title .lastUpdated {
  font-size: initial;
  font-weight: normal;
  color: #91a4ad;
}
.feed > .title {
  padding: 10px;
  padding-left: 35px;
  background: #b0c0c7;
  color: white;
  font-size: 18px;
}
.feed .headlines {
  padding: 20px 35px;
  border-top: 1px solid #b0c0c7;
  border-bottom: 1px solid #b0c0c7;
  background: white;
  min-height: 100px;
}
.feed.latest .headlines {
  background: none;
}
.headline {
  width: 350px;
  vertical-align: top;
  display: inline-block;
  margin: 0 10px 30px 0;
}
.headline .thumb {
  display: inline-block;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 5px;
}
.headline .thumb .thumb img {
  height: 100%;
}
.headline .title {
  font-weight: bold;
}
.headline .title a {
  color: inherit;
  text-decoration: none;
}
.headline .title a:hover {
  text-decoration: underline;
}
.headline .blurb {
  font-size: 85%;
  height: 0;
  overflow: hidden;
}
.headline .info {
  margin-top: 5px;
  font-size: 85%;
}
.headline .feed {
  opacity: 0.7;
  font-weight: bold;
}
.headline .time {
  opacity: 0.5;
}
