<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Newsflash</title>
    <link rel="icon" type="image/png" href="/assets/favicon.png">
  </head>
  <body>
    <div id="app">
      <div class="title">{{title}}</div>
      <div id="settings">

      </div>
      <!-- <div v-if="filters" class="filters">
        <div class="filter" vfor="filter in filters">
          {{filter.title}}
        </div>
      </div> -->
      <div class="headlines">
        <div class="headline" v-for="(headline, index) in headlines">
          <!-- <div class="thumb">
            <img :src="headline.thumbnail" alt="">
          </div> -->
          <div class="title"><a :href="headline.link" target="_blank"><!--{{index+1}}. -->{{headline.title}}</a></div>
          <div class="blurb" v-html="headline.description"></div>
          <div class="info">
            <span class="feed">{{headline.feed}}</span>
            <span class="time">
              <span v-if="headline.isToday">today at {{headline.pubTime}}</span>
              <span v-else-if="headline.isYesterday">yesterday at {{headline.pubTime}}</span>
              <span v-else>{{headline.pubDate}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="footer">Last {{title}}: {{lastUpdated}}</div>
    </div>
  </body>
  <script src="js/bundle.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">
</html>
